@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

/* Body background and all borders: #eee
 - Newspaper background: white
 - Newspaper box-shadow: #ddd
 - Front-page article text: #dd3232
 - Navigation links: #777
All other text (headers, body, etc.): default (black)
 - Body font: Source Sans Pro
 - Header font: Abril Fatface
 - Article title font: Roboto Slab
*/

body {
    background-color: #eee;
    font-family: "Source Sans Pro", sans-serif;
}

.newspaper-container {
    width: 700px;
    border-radius: 10px;
    margin: 25px auto;
    background-color: #fff;
    box-shadow: 5px 10px 8px #ddd;
}

header h1 {
    text-align: center;
    font-family: "Abril Fatface", serif;
    font-size: 3em;
    margin-top: 0;
}

header .date {
    padding: 20px 0 0 20px;
    color: #777;
}

nav {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    margin: auto 20px;
}

nav ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: auto;
    padding: 5px;
}

nav a {
    color: #777;
    text-decoration: none;
}

h2 {
    font-family: "Roboto Slab", serif;
    font-size: 1.5em;
}

h5 {
    color: #dd3232;
}

main {
    padding: 20px;
}

main img {
    width: 100%; 
}

p {
    font-weight: 200;
}

.more-articles {
    display: inline-flex;
    margin: auto;
}

.more-articles section {
    width: 300px;
    margin: auto 25px;
}

.three-more-articles {
    display: inline-flex;
    margin: auto;
}

.three-more-articles section {
    width: 200px;
    margin: auto 15px;
}

.three-more-articles img {
    width: 100%;
}

.three-more-articles h4 {
   justify-self: center;
}